<div>
  <app-toggle-paragraph
    [firstParagraph]="'Информация за мен'"
    [secondParagraph]="personalInformation"
  ></app-toggle-paragraph>
  <app-toggle-paragraph
    [firstParagraph]="'Хобита и интереси'"
    [secondParagraph]="hobies"
  ></app-toggle-paragraph>
  <app-toggle-paragraph
    [firstParagraph]="'Линк към любим conter creator'"
    [secondParagraph]="favoriteCreatorLink"
  ></app-toggle-paragraph>
  <app-toggle-paragraph
    [firstParagraph]="'Информация за моя канал'"
    [secondParagraph]="personalChannelDescription"
  ></app-toggle-paragraph>
  <app-toggle-paragraph
    [firstParagraph]="'Примерно остойностяване'"
    [secondParagraph]="evaluation"
  ></app-toggle-paragraph>
</div>
